header
{
    color: brown;
    text-align: center;
}
main
{
    background-color: chocolate;
}
footer
{
    background-color: chartreuse;
    text-transform: capitalize;
    text-shadow: cornflowerblue;
}